/* body {
    scroll-behavior: smooth;
    height: 120vh;
    overflow: scroll;
} */
.tab {
    padding: 20px;
    font-weight: bold;
}

.container {
    display: flex;
}

.tab--hover {
    background: rgba(76, 175, 80, 0.3)
}

.tab--selected {
    background-color: rgba(76, 175, 80);
}

.scroller {
    margin-top: 30vh;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-bottom: 10px solid orange;
}